@import "tailwindcss";

:root {
    --vp-c-brand-1: theme("colors.black");
    --vp-c-brand-2: theme("colors.gray.700");
    --vp-c-brand-3: theme("colors.gray.500");
    --vp-button-brand-bg: var(--vp-c-brand-1);
}

.dark {
    --vp-c-brand-1: theme("colors.white");
    --vp-c-brand-2: theme("colors.gray.200");
    --vp-c-brand-3: theme("colors.gray.400");
    --vp-button-brand-text: theme("colors.black");
    --vp-button-brand-hover-text: theme("colors.gray.900");
}
